<style>
	body{
		background:#ff6666;
		color:#fff;
	}
	.canvas{
		height:100%;
		width:100%;
	}	
</style>

<script>
$(document).ready(function(){

var items = ["apple","waffle","ball","box","table","sky","orange","glass"]

});
</script>

<h1></h1>

<div class="canvas">

</div>