<style>
	body{
		color:#aaa;
		font-family: 'Karla', sans-serif;
	}
	.jumbotron{
		background:#ff6666;
		color:#fff;
		padding:100px 25px;
	}

	h1,h2,h3{
		font-family: 'Unica One', cursive;
		color: #ff6666;
	}
	.col-icon{
		font-size:200px;
		color:#ff6666;
	}
	@media screen and (max-width: 768px) {
	    .col-sm-4 {
	        text-align: center;
	        margin: 25px 0;
	    }
    }
    .container-fluid{
    	padding:60px 50px;
    }

    .bg-light{
    	background:#ffe6e6;
    }

</style>

<script>
</script>

<div class="jumbotron text-center">
	<h1>AutiSim</h1>
	<p>A collection of simulations designed to show aspects of everyday life for autistic people.</p>
</div>

<div class="container-fluid" id="about">
	<div class="row">
		<div class="col-sm-8">
		<h2>About</h2>

		<h4>AutiSim is a mini simulation collection that tries to simulate some of the experiences of living with ASD. Many of the simulations are designed in a way that you are meant to lose. Overall, the simulations aim to promote empathy with the ASD community.</h4>
		<p>The simulations are based off of my personal experiences as well as typical characteristics of autistic people, and are purposely over-dramatized so that neurotypical people can see a sharper contrast. Autism is a spectrum, so it will affect people differently. For example, one autistic person may be highly affected by the sensory aspect of ASD, while nearly unaffected by social and executive deficits. Meanwhile, another autistic person may be highly affected by social and executive deficits while nearly unaffected by sensory overload, while someone else may be moderately affected by both.</p>
		</div>
		<div class= "col-sm-4 col-icon">
			<span class="glyphicon glyphicon-info-sign"></span>
		</div>
	</div>
</div>

<div class="container-fluid text-center bg-light" id="simulations">
<h2>Simulations</h2>
</div>