// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	body{
		color:#aaa;
		font-family: 'Karla', sans-serif;
	}

h1,h2,h3{
	font-family: 'Unica One', cursive;
	color: #ff6666;
}