// Place all the styles related to the Simulations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	body{
		color:#aaa !important;
		font-family: 'Karla', sans-serif !important;
	}

h1,h2,h3{
	font-family: 'Unica One', cursive !important;
	color: #ff6666 !important;
}